{% load static %}
{% load randomNum %}
<title>NST-Captcha</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

 <link rel="stylesheet" type="text/css" href={% static 'captchaPage/css/contentSel.css' %}>
<h1>Type 2.1(4X4). Content Selection</h1>
<h3 style="margin-top:30px" >Select an Image which looks similar to this image  </h3>




<div id="demoPic">
  
    {% with name="/media/images/Content/content-0"%}
    <img id="styleImg" src="{{name}}{%randNum%}.jpg">
    {% endwith %}
  
</div>
<br>



<div class="container" style="margin-left: 650px;">   
    <!-- <div class="box" id="id_0">
   
  </div> -->
<div class="row">
  <div class="cl">
      {% with name="/media/images/Output/output-0" %}
      <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
      {% endwith %}
  </div>
  <div class="cl">
        {% with name="/media/images/Output/output-0" %}
        <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
        {% endwith %}
    </div>
    <div class="cl">
            {% with name="/media/images/Output/output-0" %}
            <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
            {% endwith %}
    </div>
    <div class="cl">
              {% with name="/media/images/Output/output-0" %}
              <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
              {% endwith %}
    </div>
  </div>
  <div class="row">
        <div class="cl">
            {% with name="/media/images/Output/output-0" %}
            <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
            {% endwith %}
        </div>
        <div class="cl">
              {% with name="/media/images/Output/output-0" %}
              <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
              {% endwith %}
          </div>
          <div class="cl">
                  {% with name="/media/images/Output/output-0" %}
                  <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                  {% endwith %}
          </div>
          <div class="cl">
                    {% with name="/media/images/Output/output-0" %}
                    <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                    {% endwith %}
          </div>
        </div>
        <div class="row">
                <div class="cl">
                    {% with name="/media/images/Output/output-0" %}
                    <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                    {% endwith %}
                </div>
                <div class="cl">
                      {% with name="/media/images/Output/output-0" %}
                      <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                      {% endwith %}
                  </div>
                  <div class="cl">
                          {% with name="/media/images/Output/output-0" %}
                          <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                          {% endwith %}
                  </div>
                  <div class="cl">
                            {% with name="/media/images/Output/output-0" %}
                            <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                            {% endwith %}
                  </div>
                </div>
                <div class="row">
                        <div class="cl">
                            {% with name="/media/images/Output/output-0" %}
                            <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                            {% endwith %}
                        </div>
                        <div class="cl">
                              {% with name="/media/images/Output/output-0" %}
                              <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                              {% endwith %}
                          </div>
                          <div class="cl">
                                  {% with name="/media/images/Output/output-0" %}
                                  <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                                  {% endwith %}
                          </div>
                          <div class="cl">
                                    {% with name="/media/images/Output/output-0" %}
                                    <img onclick="clickedImage(this.src)" src="{{name}}{%randNum%}-0{%randNum%}.jpg">
                                    {% endwith %}
                          </div>
                        </div>
</div>
<div style="text-align: center;">
  <p style="clear: both;">Refresh the page....If you are not able to pick any...</p>

</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'captchaPage/js/contentSel.js' %}"></script>
