{% load static %}
{% load randomNum %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Complete the Image Captcha</title>
    <link href={% static "captchaPage/css/css/style.css" %} rel="stylesheet" />
    <link href={% static "captchaPage/css/css/image-puzzle.css" %} rel="stylesheet" />
    <script src={% static "captchaPage/js/js/image-puzzle.js" %}></script>
</head>

<body style="background-color: #85d37b;">
    <h1>Type 3. Complete the Image Captcha</h1>
    <div id="collage">
        <h2>Complete the Image </h2>
        
        <div id="playPanel" style="padding:5px;display:none; background-color: #85d37b;">
            <!-- <h3 id="imgTitle"></h3> -->
            
            <div style="display:inline-block; margin:auto; width:95%; vertical-align:top;">
                <ul id="sortable" class="sortable"></ul>
                <div id="actualImageBox">
                    <div id="stepBox">
                        
                        <div id="stepCount" class="stepCount"></div>
                    </div>
                    <div id="timeBox">
                     <span id="timerPanel"></span> secs
                    </div>
                    <img id="actualImage" />
                    <div>Re-arrange to create a picture like this.</div>
                    <p style="visibility: hidden;" id="levelPanel">
                        <input type="radio" name="level" id="easy" checked="checked" value="3" onchange="imagePuzzle.startGame(images, this.value);"
                        /> <label for="easy">Easy</label>
                        <input type="radio" name="level" id="medium" value="4" onchange="imagePuzzle.startGame(images, this.value);" />                        <label for="medium">Medium</label>
                        <input type="radio" name="level" id="hard" value="5" onchange="imagePuzzle.startGame(images, this.value);" />                        <label for="hard">Hard</label>
                    </p>
                    <div style="visibility: hidden;">
                        <button id="btnRule" type="button" class="btn" onclick="rules();">Rules</button>
                        <button id="newPhoto" type="button" class="btn" onclick="restart();">Another Photo</button>
                        <button id="btnReplay" type="button" class="btn" onclick="about();">About</button>
                    </div>
                </div>
            </div>


        </div>


        <div  id="gameOver" style="display:none;">
            <div style="background-color: #fc9e9e; text-align: center; ">
                <h2 style="text-align:center">You complete the Image Congo..</h2>
            </div>
            <div></div>
                <br /> <span style="display:none; visibility: hidden;"id="stepCount" class="stepCount">0</span>
                <br /> <span style="display:none; visibility: hidden;" class="timeCount">0</span><br />
                <div>
                    <button type="button"  style="display:none; visibility: hidden;" onclick="window.location.reload(true);">Play Again</button>
                </div>
            </div>
        </div>

        <script>
            var images = [
                // { src: '/media/images/1mg1.jpeg', title: 'London Bridge' },
                // { src: '/media/images/images/img7.jpeg', title: 'Lotus Temple' },
                // { src: '/media/images/images/qutub-minar.jpg', title: 'Qutub Minar' },
                // { src: '/media/images/images/statue-of-liberty.jpg', title: 'Statue Of Liberty' },
                // { src: '/media/images/img5.jpeg', title: 'Taj Mahal' }
            ];
            var imagesActual=[
                 // { src: '/media/images/img5.jpeg', title: 'Taj Mahal' }
            ];

            for(var i=0;i<9;i++){
                for(var j=0;j<10;j++){
                    var nm='/media/images/Output/output-0'+i+'-0'+j+'.jpg';
                    var nm2='output';
                    images.push({src:nm,title:nm2})
                }
            }
            for(var i=0;i<10;i++){
                var nm='/media/images/Content/content-0'+i+'.jpg';
                var nm2='content';
                imagesActual.push({src:nm,title:nm2})
            }










            window.onload = function () {
                var gridSize = document.querySelector('#levelPanel input[type="radio"]:checked').getAttribute('value');
                imagePuzzle.startGame(images, gridSize);
            };
            function restart() {
                var gridSize = document.querySelector('#levelPanel input[type="radio"]:checked').getAttribute('value');
                imagePuzzle.startGame(images,gridSize);
            }
            function rules() {
                alert('Re arrange the image parts in a way that it correctly forms the picture. \nThe no. of steps taken will be counted.');
            }
            function about() {
                alert('Developed by Anurag Gandhi. \nHe can be contacted at: soft.gandhi@gmail.com');
            }
        </script>
    </div>
</body>
</html>